# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
node_modules/

# Flask
instance/
webapp.egg-info/
.env

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# IDE/Editor specific
.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
*.komodotools
*.kate-project
*.kate-workspace
*.vim/
*.swp
