/*
  Global Styles
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Main Styles
*/

// Reset styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

// Root container
#root {
  height: calc(100vh - 20px);
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-sizing: border-box;
  overflow: auto;
}

// Button container
#button-container {
  margin: 10px;

  button {
    margin-bottom: 10px;
  }
}

// Editable SVG field
svg.editable-field {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
}

// Custom classes
.managing-button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: lightgray;
  padding: 10px;
}

.content {
  flex: 1;
  display: flex;
}

.tool-column {
  width: 100px;
  padding: 10px;
  border: 1px solid gray;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid gray;
}

.relative {
  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}

.tooltip {
  @apply opacity-0 bg-gray-800 text-white text-xs rounded p-1 absolute top-0 left-full ml-2 pointer-events-none transition-opacity duration-300;
}

.tool-button {
  @apply bg-gray-200 rounded-md p-2 focus:outline-none relative;
  /* Additional styles for the general button class */
}

.tool-button:hover {
  /* Styles applied when hovering over the button */
  background-color: gray;
}
